@{
    ViewData["Title"] = "Home Page";
}
<h1>Home Page</h1>

<p>A value has been stored in TempData.</p>

<a href="/Home/PeekValue">Peek at the TempData value</a>
<br />
<a href="/Home/ReadValue">Read and consume the TempData value</a>
<br/>
<a href="/Home/KeepValue">Keep the TempData value</a>
<br />
<a href="/Home/ReadAndDeleteValue">Read and consume the TempData value</a>