@{
    ViewData["Title"] = "Keep Value";
}

<h1>Keep Value</h1>

<p>The value from TempData has been kept: @ViewBag.KeptValue</p>

<a href="/Home/ReadAndDeleteValue">Read and consume the TempData value</a>
<br />
<a href="/Home/Index">Go back to Home</a>
